
/* site.css */

*, *::before, *::after { box-sizing: border-box; }

body {
  color: white;
  background-color: black;
}

.box {
  display: inline-block;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  font-family: var(--japanese-font-family);
  font-size: 280%;
}

@media(orientation: portrait) {
  .box {
    --w: calc(100vw / 8);
    width: var(--w);
    height: calc(var(--w) * 1.4);
  }
}
@media(orientation: landscape) {
  .box {
    --w: calc(100vw / 16);
    width: var(--w);
    height: calc(var(--w) * 1.4);
  }
}

