
/* site.css */

*, *::before, *::after { box-sizing: border-box; }

body {
  color: white;
  background-color: black;
}

.box {
  display: inline-block;
  border: 1px solid white;
  --w: calc(100vw / 8);
  width: var(--w);
  height: calc(var(--w) * 1.4);
  text-align: center;
  vertical-align: middle;
  font-family: var(--japanese-font-family);
  font-size: 280%;
}

