
/* four_corners.css */

#four-corners {
  display: grid;
  grid-template-columns: var(--box-w2) var(--box-w3) auto;
  grid-template-rows: var(--box-h4) auto;
  grid-column-gap: calc(var(--box-w) / 5);
  grid-row-gap: calc(var(--box-w) / 3);
}
#four-corners .corners {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#four-corners .nines {
  display: flex;
  flex-wrap: wrap;
}
#four-corners .nine {
  color: grey;
}
#four-corners .list {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
#four-corners .display {
  font-size: 91%;
  color: grey;
  padding-top: 0.49em;
}

@media(orientation: landscape) {

  #four-corners .list {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }
}

