
/* site.css */

*, *::before, *::after { box-sizing: border-box; }

body {
  color: white;
  background-color: black;
}

.container {
  width: 100%;
  margin: 0.2rem;
}

.box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  width: var(--box-w);
  height: calc(var(--box-w) * 1.4);
}
.box.blank {
  border: 0px;
}

.navigation-context .nav {
  display: block;
}
.navigation-context .list {
}

@media(orientation: portrait) {
}
@media(orientation: landscape) {
}

