
/* site.css */

*, *::before, *::after { box-sizing: border-box; }

body {
  color: white;
  background-color: black;
}

.container {
  width: 100%;
  margin: 0.2rem;
  position: relative;
}

.box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  width: var(--box-w);
  height: calc(var(--box-w) * 1.4);
}
.box.blank {
  border: 0px;
}

.navigation-context .nav {
}
.navigation-context .list {
}

#four-corners .corners {
  width: calc(var(--box-w) * 2);
  position: absolute;
  left: 1rem;
  top: 1rem;
}
#four-corners .nines {
  width: calc(var(--box-w) * 3);
  position: absolute;
  left: calc(var(--box-w) * 2 + 1.35rem);
  top: 1rem;
}

@media(orientation: portrait) {
}
@media(orientation: landscape) {
}

