
/* site.css */

*, *::before, *::after { box-sizing: border-box; }

body {
  color: white;
  background-color: black;
}

.grid {
  width: 100%;
  margin: 0.2rem;
}

.box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
}

